.landing-page-container {
  overflow: auto;
  position: relative;
}

.landing-hero{
  display: flex;
  height: fit-content;
  justify-content: center;
  text-align: center;
  
  position: absolute;
  top: 45%; left: 50%;
  transform: translate(-50%,-50%);
}

.landing-hero-logo-container {
  margin-bottom: 1rem;
}

.landing-hero-logo {
  width: 7rem;
}

.landing-hero-phrase {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1em 0;
  max-width: 25em;
}

.landing-hero-phrase > h2 {
  margin-bottom: 0.5rem;
}

.landing-hero-phrase > p {
  font-size: 0.9em;
}

.landing-hero-btn-container {
  margin-top: 1em;
}

.landing-hero-btn-container .btn {
  border: var(--main-blue) 1px solid;
  border-radius: 3px;
  color: var(--main-blue);
  font-size: 1rem;
  margin-bottom: 1em;
  padding: 0.8em;
  width: 100%;
}

.landing-hero-btn-container .btn:hover {
  background-color: var(--main-blue);
  color: white;
  cursor: pointer;
}

.landing-hero-btn-container .btn-primary {
  background-color: var(--main-blue);
  color: white;
}

.landing-hero-btn-container .btn-primary:hover {
  background-color: white;
  color: var(--main-blue);
}
