.landing-page-container {
  margin: 0 1rem;
}

.landing-hero{
  display: flex;
  height: 100%;
  justify-content: center;
  padding-top: 7rem;
  text-align: center;
}

.landing-hero-logo-container {
  margin-bottom: 3rem;
}

.landing-hero-logo {
  width: 12rem;
}

.landing-hero-phrase {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1em 0;
  max-width: 25em;
}

.landing-hero-phrase > h2 {
  margin-bottom: 0.5rem;
}

.landing-hero-btn-container {
  margin-top: 1em;
}

.landing-hero-btn-container .btn {
  background-color:var(--main-red);
  border-radius: 3px;
  font-size: 1rem;
  margin-bottom: 1em;
  padding: 0.8em;
  width: 100%;
}

.btn:hover {
  background-color:var(--main-red-dark);
}
