.scores-each {
  display: flex;
  justify-content: space-evenly;

  text-align: center;
}

.high-scores-container {
  background: var(--main-blue-dark);
  padding-top: 5rem;

  display: block;
  overflow: auto;
}

.high-scores-header {
  padding: 1rem 2rem;
}

.high-scores-table {
  padding: 0 2rem;
}

.high-scores-table > table {
  width: 100%;
}
