.modal-background {
  background: rgba(0,0,0, 0.3);
  display: none;

  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;

  z-index: 1;
}

.modal-background.show {
 display: block;
}

.results-container{
  background-color: var(--main-blue);
  margin: 4rem auto 0 auto;
  max-width: 500px;
  padding: 2rem;
  z-index: 2;

  font-family: 'Squada One', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 black;
}

.results-header {
  font-size: 3rem;
}

.results-row {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
}

.results-enter-initials {
  height: 0;
  width: 0;
  opacity: 0;
}

.results-container > .btn:first-of-type {
  margin-top: 1rem;
}

.results-initials-container {
  
}

.results-initials {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

.result-initials-each {
  min-height: 5.5rem;
}

.results-initials > div {
  flex: 1;
  max-width: 4rem;
  text-align: center;
}

.results-underscore {
  visibility: hidden;
  height: 1rem;
  position: relative;
  top: -5.5rem;
  animation: 1s blink step-end infinite;
}

.results-underscore.show {
  visibility: visible;
}

.results-caption {
  font-size: 1.5rem;
  text-align: center;
}

.results-initials-empty {
  visibility: hidden;
  color: var(--main-red);
  text-align:center;
}

.results-initials-empty.show {
  visibility: visible;
}


