@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Squada+One&display=swap');

@import url("https://use.typekit.net/hfi1yzz.css");
/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Squada One', sans-serif; */
/* font-family: canada-type-gibson, sans-serif; */

@import url('../node_modules/@fortawesome/fontawesome-pro/css/all.min.css');
:root {
  box-sizing: border-box;
  font-size: 16px;               
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,h1,h2,h3,h4,h5,h6,p,ul,li {
  padding: 0;
  margin: 0;
}

#root, #root > div, body, html {
  height: 100%;
}


body {
  background:rgba(10, 29, 139, 0.9);
  color: white; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: 'Lexend Deca';
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  
}

/* Loading Screen */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(33,55,175);
  background: linear-gradient(180deg, rgba(33,55,175,1) 0%, rgba(22,36,113,1) 100%);
}

.loading > div {
  animation: heart-beat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  text-align: center;
}

.loadingLogo {
  width: 4rem;
}

/* Header */
header{
  font-family: canada-type-gibson, sans-serif;
  font-size: 1.3rem;
  padding: 0.5em 0; 
  text-align: center;
}

.header {
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 0.5em 0 0 0;
}

.logo {
  width: 1.5rem;
  margin-top: 0.5em;
}

/* Main */
.main-container {
  margin: 0 auto;
  max-width: 550px;
}

/* Stats */
.stats-container {
  color: white;
  display: flex;
  font-family: 'Squada One', sans-serif;
  padding-bottom: 1em;
}

.stats-container > div {
  width: 100%;
}

/* Timer */
.timer-container {
  text-align: center;
}
.timer-header {
  font-size: 1rem;
}
.timer-body{
  font-size: 2rem;
}

/* MultiplierStars */
.multiplier-stars-container {
  text-align: center;
}

.multiplier-stars-header {
  font-size: 1rem;
  padding-bottom: 0.5em;
}

.multiplier-stars-body{
  font-size: 2rem;
  padding-bottom: 0.35em;
}

.multiplier-stars-flag {
  color: rgb(255, 255, 255);
  display: inline-block;
  opacity: 0.5;
}

.multiplier-stars-flag:not(:first-child) {
  margin-left: 0.35em;
}

.multiplier-stars-flag-on {
  color: #ffd800;
  opacity: 1;
  animation: bounce 0.5s infinite;
}

/* Score */
.score-container {
  text-align: center;
}
.score-header {
  font-size: 1rem;
}
.score-body{
  font-size: 2rem;
}

/* Tweet container */
.tweet-container {
  background-color: #1c2b82;
  min-height: 12rem;
  padding: 1.5em;
  position:relative;
}

/* Tweet Info*/
.tweet-info-container {
  color: #c4ceff;
  font-size: 0.85rem;
  margin-bottom: 0.5em;
}

.tweet-info-container > div {
  margin-right: 1em;
}

/* DisplayTweet */
.display-tweet {
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0;
}

.twitter-icon {
  color: #1DA1F2;
}

.caret {
  color: #37d397;
  font-size: 0.8rem;
  position: absolute;
  bottom: -0.9em;
  left: 40%;
  margin-left: -0.3em;

  animation: caret-bounce 0.3s infinite;
}

.caret-error {
  font-size: 0.8rem;
  position: absolute;
  bottom: -0.9em;
  left: 40%;
  margin-left: -0.3em;

  animation: 0.1s 3 caret-error ,  0.3s 1 caret-error-color,  0.3s 0.4s infinite caret-bounce;
}

.caret-space {
  color: #37d397;
  font-size: 0.8rem;
  position: absolute;
  bottom: -0.8em;
  left: 0rem;

  animation: caret-bounce 0.3s infinite;
}

.caret-space-error {
  font-size: 0.8rem;
  position: absolute;
  bottom: -0.8rem;
  left: 0rem;

  animation: 0.1s 3 caret-error ,  0.3s 1 caret-error-color,  0.3s 0.4s infinite caret-bounce;
}

.char {
  position:relative;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.char-correct {
  opacity: 0.5;
}

.points-to-add {
  font-family: 'Squada One', sans-serif;
  font-size: 1rem;
  position: absolute;
  color: #00ff99;
  top: -1.1rem;
  left: 0;
  opacity: 0;

  animation: addPoints-move 1.3s 1 , fade 1.3s 1;
}

/* DisplayTweets - Hidden Input Container */
.key-input-container {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  top:40%;
  left: 40%;
}

.key-input {
  opacity: 0;
  font-size: 16px;
}

/* Multiplier */
.multiplier-container {
  opacity: 0;

  position: absolute;
  top:1em;
  left: 50%;
  margin-left: -4em;


  color: rgb(255, 225, 54);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Squada One', sans-serif;
  font-size: 1rem;

  animation: multiplier-move-up 1s 1, fade 1s 1;
}

.multiplier-number {
  font-size: 2em;
  text-align: center;
}



/* TypedKeys */
/* LastTypedKey */
.key-history-char{
  display: inline-block;
  min-width:0.7em;
  text-align:center;
}

.typed-keys-container {
  font-size: 1.25em;
  margin-top: 0.5em;
}


.typed-keys-header {
  text-align: center;
}

.blinking-cursor{
  position: absolute;
  bottom: -0.1rem;
  right: 0;
  animation: 1s blink step-end infinite;
}

.key-history-container {
  color: rgb(255, 225, 54);
  width: 50.5%;
  height: 1.3em;

  display:flex;
  justify-content: flex-end;

  position:relative;
}

/* Info Section */
.info {
  padding: 1em;
}

.center {
  text-align: center;
}

.combo-table {
  border: 1px solid white;
  border-collapse: collapse;
  font-size: 0.9rem;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}

.combo-table > tr > td {
  border: 1px solid;
  padding: 0.5em;
}

.progress {
  margin-top: 1em;
}

/* Desktop Mode */
@media (min-width: 600px) {
  :root {
    font-size: 20px;
  }

  .main-container {
    max-width: 1200px;
  }
}

@media (min-width: 900px) {
  :root {
    font-size: 24px;
  }

  .desktop-resolution {
    margin: 0 auto;
    max-width: 1200px;
  }
}





/* Animations */
.rotate-speed-1 {
  animation: rotation 4s infinite linear;
}

.rotate-speed-2 {
  animation: rotation 3s infinite linear;
}
.rotate-speed-3 {
  animation: rotation 2s infinite linear;
}
.rotate-speed-4 {
  animation: rotation 1s infinite linear;
}
.rotate-speed-5 {
  animation: rotation 0.5s infinite linear;
}
.rotate-speed-6 {
  animation: rotation 0.3s infinite linear;
  
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFD800;
  }
}

/* @keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -0.2rem, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -0.1rem, 0);
  }

  90% {
    transform: translate3d(0, -0.05rem, 0);
  }
} */

@keyframes bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(-0.15em);}
  100% {transform: translateY(0);}
}

@keyframes caret-bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(0.3em);}
  100% {transform: translateY(0);}
}

@keyframes caret-error {
  0% {transform: translateX(0.3em);}
  50% {transform: translateX(-0.3em);}
  100% {transform: translateX(0.3em);}
}

@keyframes caret-error-color {
  100% { color: #ff0033;}
}



@keyframes colorchange {
  0% { color: white;}
  100% { color: #f9e31b;}
}

@keyframes addPoints-move {
  0% { transform: translateY(0);}
  100% { transform: translateY(-0.3em);}
}

@keyframes fade {
  0% { opacity: 1;}
  80% { opacity: 1;}
  100% { opacity: 0;}
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes arrow-up {
  0% { transform: translateY(0);}
  100% { transform: translateY(-0.3em);}
}

@keyframes heart-beat {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes multiplier-show {
  0% { transform: scale(1.3);}
  60% { transform: scale(0.8);}
  75% { transform: scale(1.1);}
  100% { transform: scale(1);}
}

@keyframes multiplier-move-up {
  0% {transform: translateY(0);}
  100% {transform: translateY(-1rem);}
}
