@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Source+Code+Pro:700|Squada+One|Oswald:700|Roboto|Anton&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Source Code Prop', sans-serif; */
/* font-family: 'Squada One', sans-serif; */

@import url('../node_modules/@fortawesome/fontawesome-pro/css/all.min.css');
:root {
  box-sizing: border-box;               
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(0,16,91);
  background: linear-gradient(90deg, rgba(0,16,91,1) 0%, rgba(4,0,97,1) 100%);
  /* background: #1b004f; */
  color: white;
  min-height: 100vh;  
  font-family: 'Lexend Deca', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  padding: 1em;
  /* box-shadow: 0px 5px 0px rgba(0,0,0,0.75); */
}

header > .header {
  font-size: 3.5em;
  font-family: "Anton", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  /* text-shadow: -5px 5px 0 black; */
}

header > p {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 0.8em;
  line-height: 1;
}

.main-container {
  margin: 2em 1em;
  /* border-radius: 5px; */
  /* box-shadow: 1px 1px 10px rgba(0,0,0,0.75); */
}

/* Game Info */
.stats-container {
  color: white;
  font-family: 'Squada One', sans-serif;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  display: flex;
}

.stats-container > div {
  min-width: 10em;
} 

.stat-number {
  font-size: 3em;
  line-height: 1;
}

.star {
  font-size: 0.5em;
  padding-left: 0.25em;
  position:relative;
  top: -0.30em;

}

.rotate-speed-2 {
  animation: rotation 5s infinite linear;
}
.rotate-speed-3 {
  animation: rotation 4s infinite linear;
}
.rotate-speed-4 {
  animation: rotation 3s infinite linear;
}
.rotate-speed-5 {
  animation: rotation 2s infinite linear;
}
.rotate-speed-6 {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.multiplier {
  position: absolute;
  font-size: 0.5em;
  top: 23%;
  left: 45%;
  text-align: center;
}

/* display-tweet */
.tweet-container {
  background-color: white;
  border-radius: 5px;
  padding: 2em 2em 3em 2em;
}

.tweet-header {
  color: gray;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.twitter-icon {
  color: #1DA1F2;
}

.display-tweet {
  color: #2d2d2d;
  font-size: 1.5em;
  line-height: 1.4;
  letter-spacing: 0;
}

.caret {
  color: #37d397;
  font-size: 0.6em;
  position: absolute;
  bottom: -0.9em;
  left: 45%;
  margin-left: -0.3em;

  animation-name: caret-bounce;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

.caret-space {
  color: #37d397;
  font-size: 0.5em;
  position: absolute;
  bottom: -0.8em;
  left: 0.3em;

  animation-name: caret-bounce;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

.char {
  position:relative;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.char-correct {
  opacity: 0.5;
}

/* Tweet Info */
.tweet-info-container {
  color: #007bff;
  display: flex;
  /* font-family: 'Oswald', sans-serif; */
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 1em;
}

.tweet-info-container > div {
  margin-right: 1em;
}

/* LastTypedKey */
.blinking-cursor{
  position: absolute;
  bottom: 0.6em;
  right: 0;
  animation: 1s blink step-end infinite;
}

.key-history-container {
  width: 50.5%;
  height: 2em;

  display:flex;
  justify-content: flex-end;

  position:relative;
}

.key-history-char{
  display: inline-block;
  min-width:0.7em;
  text-align:center;
}

.typed-keys-container {
  font-size: 1.5em;
  margin-top: 2em;
}

.typed-keys-header {
  text-align: center;
}

.input {
  min-height: 2em;
  padding-bottom: 0.5em;
}



/* Animations */
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@keyframes caret-bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(0.3em);}
  100% {transform: translateY(0);}
}
